.mainBox_1 {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}

.mainBox_1 > :nth-child(1) {
  width: 50%;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.mainBox_1> div img {
  width: 300px;
  background-color: orange;
  padding: 10px 20px 0 20px;
  border-radius: 150px;
}

.services{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
    margin: auto;
    width: 80%;
}


.services p{
    text-align: left;
}


@media only screen and (min-width: 300px) {
NavLink{
     font-size: 10px;
  }
}





